body {
  margin: 0;
  padding: 0;
  font: 12px normal sans-serif;
}

.map {
  position: relative;
  overflow: hidden;
}

.map img {
  height: auto;
  max-width: 100%;
}

.map svg {
  position: absolute;
  top: 0;
  left: 0;
}

.state {
  stroke-width: 2px;
  stroke: #333;
  fill: none;
}
